@()(implicit request: RequestHeader, flash: Flash)

@main("WebSocket Chat") {
    <input type="text" id="user-name" placeholder="input your name" onsubmit="" value="">
    <button id="submit-name">Submit</button>
    <input type="hidden" id="ws-route" value="@routes.WebSocketChat.socket.absoluteURL()">
    <input type="text" id="chat-input" size="80" disabled>
    <br>
    <textarea id="chat-area" rows="15" cols="80" disabled></textarea>
    <script src="@routes.Assets.versioned("javascripts/chat.js")"></script>
}